.cards{
    margin-top: 100px;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .carousel__card{
    img{
        margin-bottom: 20px;
    }
    }
    button{
        margin-bottom: 100px;
    }
}