@media (max-width:1200px) {
    .explore{
        &__wrapper{
            flex-direction: column-reverse;
            align-items: center;

        }
        &__title{
            text-align: center;
        }
    }
    .cards{
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }
}
@media(max-width: 990px){
    .navbar{
        ul{
            display: none;
        }
    }
    .tourism{
      
            &__desc:nth-child(2){
                display: none;
            }

    }
}
@media (max-width:850px) {
  .tourism{
    &__desc:first-child{
        display: none;
    }
  }   
}
@media (max-width:750px) {
 .cards{
    &__wrapper{
        grid-template-columns: 1fr;
    }
 } 
}
@media (max-width: 590px) {
 .navbar{
    &__logo{
        hr,
        select{
            display: none;
        }

    }
    button{
        display: none;
    }
 }    
 .navbar__hamburger{
    display: block;
 }
 .tourism{
    &__button{
        flex-direction: column;
    }
    &__items{
        flex-direction: column-reverse;
        align-items: center;
    }
    &__desc{
        width: 200px;
    }
    &__collection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
    }
 }
}
@media (max-width:400px)  {
.carousel{
    &__icon{
        display: none;
    }
}
.hero{
    &__title{
        h1{
            font-size: 50px;
        }
    }
}
}