.navbar {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
        gap: 25px;

        hr {
            height: 30px;
        }

        select {
            outline: none;
            border: none;
        }
    }

    &__collection {
        display: flex;
        align-items: center;
        gap: 25px;

        ul {
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: center;

            li {
                opacity: .7;
                padding: 10px;
                border: 1px solid transparent;

                &:hover {
                    border-radius: 90px;
                    border: 1px solid gray;
                    opacity: 1;
                }
            }
        }
    }

    &__hamburger {

        display: none;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .line {
            width: 30px;
            height: 5px;
            background-color: #000;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__btn {
        padding: 10px;
        border-radius: 90px;
        border: 1px solid transparent;
        background-color: inherit;
        outline: none;
        transition-duration: .2s;

        &:hover {
            background-color: #3B71FE;
            color: #fff;
            border: 1px solid transparent;
            transition-duration: .2s;

            &:active {
                background-color: inherit;
                color: #3B71FE;
                border: 1px solid #3B71FE;
            }
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        align-items: center;
        gap: 5px;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 50%;
        right: -50%;
        background-color: #3B71FE;
        color: #000;
        transition-duration: .3s;
        z-index: 100;

        ul {
            flex-direction: column;
            gap: 5px;
        }

        button {
            color: #fff;
            border: none;
        }

    }

    .exit {
        width: 100%;
        display: flex;
        justify-content: end;
        cursor: pointer;
        padding-bottom: 20px;
    }
}